.header {
  background-color: $mainBackground;
  border: 1px solid $borderColor;
  @include tablet {
  }
  @include desktop {
    background-color: $mainBackground;
    border: 1px solid $borderColor;
  }

  &__container {
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    @include tablet {
      height: 80px;
    }
    @include tablet {
      height: 80px;
    }
  }

  &__logo {
    > .logo {
      width: 145px;
      height: 31px;
      padding-right: 50px;
      margin-top: 16px;
    }
  }

  &__contacts {
    display: none;
    color: $contactColor;
    @include tablet {
      display: block;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @include desktop {
      flex-direction: row;
      display: flex;
      gap: 30px;
    }
  }
  &__contact {
    @include tablet {
      color: $contactColor;
      font-size: 12px;
      line-height: 16.41px;
      text-decoration: none;
      font-weight: 500;
    }
    @include desktop {
      color: $contactColor;
      font-size: 14px;
      line-height: 16.41px;
      text-decoration: none;
      font-weight: 500;

      &:hover,
      &:focus {
        color: $mainBlue;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        svg {
          fill: $mainBlue;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
      }

      &__icon {
        margin-right: 10px;
        fill: $contactColor;
      }
    }
  }
}
