* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: $mainBackground;
  color: $mainColor;
}

.list {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  @include tablet {
  }
  @include desktop {
    display: flex;
    padding-left: 0;
    flex-wrap: nowrap;
    margin: 0;
  }
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  @include tablet {
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
  }
  @include desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.section {
  padding-top: 60px;
  @include tablet {
    padding-top: 60px;
  }
  @include desktop {
    padding-top: 94px;
  }
}
