* {
  box-sizing: border-box;
}

.list {
  list-style-type: none;
  margin: 0;
  padding-left: 15px;
  @include desktop {
    display: flex;
    padding-left: 0;
  }
}

.container {
  width: 100%;
  max-width: 480px;
  @include tablet {
    max-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.section {
  padding-top: 60px;
  @include tablet {
    padding-top: 60px;
  }
  @include desktop {
    padding-top: 94px;
  }
}
